/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require smoothness/jquery-ui-1.10.1.custom.min.css
 */

body { font-family: Helvetica, Verdana, Arial, sans-serif; }
th { text-align: left; }
td { vertical-align: top; }

table.data-table { background-color: #f6f6f6; border-top:dotted 1px #7a7a7a; border-left:dotted 1px #7a7a7a; }
table.data-table td, table.data-table th { padding: 8px; border-right:dotted 1px #7a7a7a; border-bottom:dotted 1px #7a7a7a; }
table.data-table tfoot tr, table.data-table thead tr { background-color: #d6d6d6; }

table tbody tr.odd td { background:#e0e0e0; }

.r { text-align: right; }
.b { font-weight: bold; }

.fieldErr { font-weight:bold; color:red; }
.fieldErr:before { content: "*" }
.errInput { background-color: #ffdddd; border:solid 2px red; }

