<h2>Start new mission</h2>
<!--
          <textarea id="newMsg" data-bind="value: nextLogEntry, hasfocus: focusForm, event: { keyup
: cancelScroll }, css: { errInput: nextLogErrors().message }, ctrlEnter: doSave" style="width:40em;
 height:4em;"></textarea><br/>
message"></div>
-->

<table>
<tr><td><label for="createTitle">Title</label></td>
  <td><input id="createTitle" type="text" data-bind="value:mission.title, css: { errInput: errors().title }"/>
<span data-bind="visible: errors().title, text: errors().title" class="fieldErr"></span></td></tr>

<tr><td><label for="txtWhen">Started</label></td>
<td><input id="txtWhen" type="text" data-bind="value:mission.started.formatted, css: {errInput: errors().started }"/>
<span data-bind="visible: errors().started, text: errors().started" class="fieldErr"></span></td></tr>

<tr><td><label for="createNumber">DEM#</label></td>
<td><input id="createNumber" type="text" data-bind="value:mission.number, css:{errInput:errors().number}"/>
<span data-bind="visible: errors().number, txt: errors().number" class="fieldErr"></span></td></tr>
</table>
<button data-bind="click:doSave">Start</button>

<script type="text/javascript">
var PageModel = function()
{
  var self = this;
  this.mission = new MissionModel({});
  this.mission.started(new XDate().setMinutes(Math.round((new XDate().getMinutes() - 15) / 30) * 30))
  this.errors = ko.observable({});

  this.doSave = function()
  {
    self.errors({})
    $.ajax({ type: 'POST', url: siteRoot + 'missions.json', data: '{"mission": '+ko.toJSON(self.mission)+'}', dataType: 'JSON', contentType:'application/json; charset=utf-8'})
    .done(function(result) {
      window.location.href = siteRoot;
    })
    .fail(function(jhr) {
      if (jhr.status == 422) {
        self.errors($.parseJSON(jhr.responseText));
      }
      else { alert('General Error: ' + jhr.responseText); }
    })
    ;
  }
}

var model;
$(document).ready(function() {
  model = new PageModel();
  ko.applyBindings(model);
});

</script>
